body {
    padding: 2rem;
    background-color: #eee;
    font-family: 'Roboto Mono', monospace;
}

.general-menu {
    width: 50%;
    position: fixed;
    z-index: 1;
}

.carrito-button {
    float: right;
}

.lista-libros {
    margin-top: 9rem;
}


.grupo {
    margin-bottom: 3rem !important;
}

.dialog-default {
    overflow-y: hidden !important; 
}

.nombre-libro {
    pointer-events: none;
}