body {
    padding: 2rem;
    background-color: #eee;
    font-family: 'Roboto Mono', monospace;
}

.book {
    margin-right: 1%;
    pointer-events: none;
}

.boton-cart {
    margin-right: 1%;
}

.dialog-default {
    overflow-y: hidden !important; 
}

#carButton {
    margin-bottom: 2rem;
}
