body {
    padding: 2rem;
    background-color: #CCC;
    font-family: 'Roboto Mono', monospace;
}

.book {
    margin-right: 1%;
    pointer-events: none;
}

.boton-cart {
    margin-right: 1%;
}

.dialog-default {
    overflow-y: hidden !important; 
}

#carButton {
    margin-bottom: 2rem;
}

.container {
    display: flex;
}

.bookSection {
    width: 65%;
    margin-right: 2rem;
}

.carSection {
    width: 35%;
}

.container-car {
    margin-bottom: 2%;
}